<div class></div>

<div class="banner" >
  <div class="banner-content text-center">
    <h1>Escape to nature</h1>
    <p>Clear your mind. Breathe in some fresh air. Nourish your soul in the mountains of Minas Gerais.</p>
  </div>
</div>
