.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: left;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("hortencias.jpg");
  background-size: cover;
  opacity: 0.85;
  h1 {
    color: white;
    opacity: 0.6;
    font-weight: bold;
    font-size: 45px;
    margin-top: 220px;
    margin-left: 230px;
    margin-bottom: -20px;
  }
  p {
    color: white;
    opacity: 0.6;
    font-size: 30px;
    font-weight: lighter;
    margin-left: 230px;
  }
}
