<%= render "form" %>



<!-- <form action="/products/1" method="post">

  <label for="name">Name of the product</label>
  <input type="text" name="product[name]">

  <label for="category">Product category</label>
  <input type="text" name="product[category]">

  <label for="description">Description of the product</label>
  <input type="text" name="product[description]">

  <label for="price">Product price</label>
  <input type="text" name="product[price]">

  <input type="submit">


</form>
